<header>
  <a href="/">Logo</a>
  <nav>
    <a href="/">home</a>
    <a href="/drugs">drugs</a>

    <%if(locals.user){%>
    <button><%= locals.user.name%></button>
    <a href="/logout">logout</a>
    <%}else{%>
    <a href="/signup">Sign up</a>
    <a href="/login">Sign in</a>
    <%}%>
  </nav>
</header>
