<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dawa App</title>
</head>
<body>
    
    <%- include('header.ejs')%>
    <h1>Reliable Medicine Store one click away!</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat vero possimus voluptates blanditiis dolor. Libero accusamus quos ducimus voluptatem et omnis dolorum cupiditate pariatur, deleniti, ipsa, culpa at architecto placeat?</p>

</body>
</html>